
div {
    border: 2px solid black;
    text-align: center;
    background-color: darkgreen;
}
header {
    background-color: grey;
}
body {
    background-color: green;
}

table {
    text-align: left;
    margin: 15px;
    background-color: white;
}

th {
    padding: 5px;
    border: 1px solid lightgray;
    border-bottom: 1px solid black;
}

td {
    padding: 15px;
    /* width: auto; */
    border: 1px solid lightgray;
}

#playerContainer {
    float: left;
    background-color: lightgray;
}

.player-button-hit:enabled {
    box-shadow: 0px 0px 10px green;
}

.player-button-stand:enabled {
    box-shadow: 0px 0px 10px red;
}

.player-button-hit:disabled {
    display: none;
}

.player-button-stand:disabled {
    display: none;
}